fieldset:nth-of-type(1) {
  background-color: whitesmoke;
  border-radius: 15px;
  border-style: groove;
  border-color: lightslategrey;
  color: black;
  margin: auto;
  width: 98%;
}
fieldset {
  background-color: whitesmoke;
  border-radius: 15px;
  border-style: groove;
  border-color: lightslategrey;
  color: black;
  margin: center;
  width: 50%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
table {
  border-radius: 5px;
  border-color: red;
  background-color: whitesmoke;
  border-style: groove;
  width: 35%;
  text-align: center;
  position: absolute;
  top: 140px;
  right: 50px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-image: url("imagens/fundo.jpg");
  background-repeat: no-repeat;
  background-position: justify;
  background-size: cover;
  background-attachment: fixed;
}
h1 {
  font-size: 35px;
  color: red;
  margin: center;
  width: 100%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
legend {
  color: red;
  text-align: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: whitesmoke;
  background-size: contain;
}
label {
  text-align: center;
  color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
caption {
  color: red;
  font-size: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
img {
  width:250px;
  height: 210px;
}


